site_name: Renovate Platform Documentation
site_description: Documentation for the Renovate Platform - manage self-hosted Renovate installations
site_author: Renovate Platform Team
docs_dir: docs

theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - toc.integrate
    - content.code.copy

nav:
  - Home: index.md
  - Getting Started:
    - Installation: getting-started/installation.md
    - Configuration: getting-started/configuration.md
    - Testing: getting-started/testing.md
  - API Reference:
    - GraphQL: api/graphql.md
  - Development:
    - Contributing: development/contributing.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - toc:
      permalink: true
  - tables

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/your-org/renovate-platform
